*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.bg{
    height: 100vh;
    background: url(DSC00009.JPG);
    background-size: cover;
    filter: blur(8px);
}

html {
    scroll-behavior: smooth;
  }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
  }

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #1D8257;
}

::-webkit-scrollbar-track {
    box-shadow: transparent;
}

.home{
    position: absolute;
    top:30px;
    left:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    z-index:999;
}

.home .logo{
    width: 100px;
    height: 100px;
}

.home .logo img{
    width: 100%;
}

.home:hover{
    transform: scale(1.1);
}

.navbar{
    width: auto;
    height: auto;
    position: absolute;
    top:20px;
    right: 20px;
    color: #ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    font-weight: 900;
}

.navbar a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
}

.navbar #myList{
    display: flex;
    flex-wrap: wrap;
}

.navbar .img_icon{
    width: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.navbar ul li{
    list-style: none;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 1s;
}

.navbar .more{
    height: 80px;
    overflow: hidden;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    z-index: 999;
}

.navbar .more:hover{
    height: 192px;
    overflow: hidden;
}

.company_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50px;
    left: 50px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.company_container .left_company_info,
.company_container .right_company_info{
    max-width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.company_container .left_company_info .question{
    max-width: 400px;
}

.company_container .left_company_info .question h1,
.company_container .right_company_info .question h1{
    font-size: 2em;
    padding: 20px;
}

.company_container .left_company_info .question p,
.company_container .right_company_info .question p{
    font-size: 16px;
    padding: 20px;
    background: #ffffff;
}

.company_container .right_company_info .question{
    max-width: 600px;
}

.company_container .left_company_info .question.Q1,
.company_container .left_company_info .question.Q2{
    height: 100px;
    overflow: hidden;
}

.company_container .left_company_info .question.Q1:hover,
.company_container .left_company_info .question.Q2:hover{
    border-radius: 20px;
    height: auto;
}

.company_container .right_company_info .question.Q3,
.company_container .right_company_info .question.Q4{
    height: 100px;
    overflow: hidden;
    margin-left: 40px;
}

.company_container .right_company_info .question.Q3:hover,
.company_container .right_company_info .question.Q4:hover{
    border-radius: 20px;
    height: auto;
}

.company_container .middle_company_info{
    max-width: 30%;
    height: 600px;
    border-radius: 20px;
    position: relative;
    box-shadow: 10px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.company_container .middle_company_info .company_img img{
    width: 100%;
}

.company_container .middle_company_info .company_img img:nth-child(2){
    width: 40%;
    position: absolute;
    right: 0px;
    top:100px;
}
