@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&family=Zhi+Mang+Xing&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

body{
    background: #FFF2D8;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #113946;
}

::-webkit-scrollbar-track {
    box-shadow: transparent;
}

/* LINE */

.Line{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    overflow: hidden;
}

/* --------------- */

/* 快速導覽 */
.side_container_clickTo{
    width:200px;
    position: fixed;
    top:50%;
    left: 10%;
    transform: translate(0%,-50%);
    display: flex;
    flex-direction: column;
    z-index: 999;
    visibility: visible;
}

.side_container_clickTo #side_container_list{
    position: relative;
    display: flex;
    flex-direction: column;
}

.side_container_clickTo #side_container_list li{
    position: relative;
    list-style: none;
}

.side_container_clickTo #side_container_list li a{
    position: relative;
    color: #113946;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.side_container_clickTo #side_container_list li a::after{
    content: '';
    position: absolute;
    bottom:-10px;
    left: 0px;
    width: 0px;
    height: 2px;
    background: #113946;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.side_container_clickTo #side_container_list li a:hover{
    font-weight: 900;
    color: #113946;
}

.side_container_clickTo #side_container_list li a:hover::after{
    width: 100px;
}
/* END */

/* --------------- */


.toTop {
    width: 50px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 99;
    overflow: hidden;
    align-items: center;
}

.toTop svg {
    width: 50px;
    padding: 5px;
    rotate: 90deg;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.toTop h4 {
    color: #ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #113946;
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
    display: none;
}


.document_container {
    position: absolute;
    max-width: 100%;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0px);
    display: flex;
    flex-direction: column;
    color: #113946;
}

.document_container h1 {
    text-align: center;
}

.document {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.document::after{
    content: "";
    position: absolute;
    bottom:-50px;
    border: none;
    border-top: 1px solid #BCA37F;
    color: #fff;
    height: 1px;
    width: 100%;
}

.document h1 {
    text-align: center;
    margin: 20px;
}

.document img {
    width: 600px;
    border-radius: 20px;
}

.document .artitcle {
    display: flex;
    flex-direction: column;
}

.document .artitcle .div {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    font-weight: 700;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    text-align: justify;
}

.document .artitcle .div:hover{
    background-color: #113946;
    color: #ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.document .artitcle .div:hover a{
    color: #ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.document .artitcle a{
    cursor: pointer;
    color: #113946;
    text-decoration: none;
    font-weight: 900;
    padding: 10px 0px 10px 0px;
}


/* DM下載點 */

.document_container .document.DM{
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
}

.document_container .document.DM .div{
    text-align: center;
}

.document_container .document.DM img{
    width: 2%;
}

@media screen and (min-width:0px) and (max-width:1024px) {
    .side_container_clickTo{
        visibility: hidden;
    }
}