* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: #232D3F;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #1D8257;
}

::-webkit-scrollbar-track {
    box-shadow: transparent;
}

.toTop {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 99;
    overflow: hidden;
    align-items: center;
}

.toTop svg {
    width: 100px;
    padding: 20px;
    rotate: 90deg;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.toTop h2 {
    color: #ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000000;
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
    display: none;
}

.hambur {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000000;
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
    display: none;
}

.hambur svg {
    width: 100%;
    height: 100%;
}

.navbar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:auto;
    background: rgba(255, 255, 255, 0.5);;
    z-index: 999;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    font-weight: 900;
}
  
.navbar #menu{
    margin: 20px;
}

ul{
    float:right;
    display:flex;
    list-style:none;
}
  
ul li{
    opacity: 0;
    margin:20px;
}
  
a{
    text-decoration:none;
    color:#000000;
}
  
#logo img{
    width: 200%;
}

#logo{
    float:left;
    width: 200px;
}
  
li .dropdown {
    position:relative;
}
  
.dropdown-content {
    opacity:0;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: flex;
    flex-direction:column;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    opacity:1;
}

.document_container {
    position: absolute;
    max-width: 100%;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0px);
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.document_container h1 {
    text-align: center;
}

.document {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.document::after{
    content: "";
    position: absolute;
    bottom:-50px;
    border: none;
    border-top: 6px dashed #138353;
    color: #fff;
    height: 1px;
    width: 100%;
}

.document h1 {
    text-align: center;
    margin: 20px;
}

.document img {
    width: 600px;
    border-radius: 20px;
}

.document .artitcle {
    display: flex;
    flex-direction: column;
}

.document .artitcle .div {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    font-weight: 800;
}

.document .artitcle .div:hover{
    background-color: #f1f1f1;
    color: #000000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}


/* .document .article .div {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px;
    font-weight: 800;
    /* overflow: hidden; 添加这行以隐藏伪元素超出的部分 */


.document .article .div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 50%, #000000 50%, #000000 100%);
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1; /* 将伪元素置于底层 */
}

.document .article .div:hover::before {
    width: 100%; /* 在悬停时扩展伪元素的宽度 */
} */



.document .artitcle .div a {
    cursor: pointer;
    color: #008170;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-bottom-right-radius: 20px;
}


/* DM下載點 */

.document_container .document.DM{
    margin-bottom: 100px;
}

.document_container .document.DM img{
    width: 2%;
}

@media screen and (min-width:200px) and (max-width:1024px) {

}

@media screen and (min-width:200px) and (max-width:1024px) {
    .home {
        top: 10px;
        left: -50px;
        scale: 0.7;
    }

    .hambur {
        position: fixed;
        display: block;
        z-index: 999;
    }
    
    .logo img{
        display: none;
    }

    .navbar {
        position: fixed;
        top: -100vh;
        right: 0px;
        width: 100%;
        height: 100vh;
        background: #138353;
        opacity: 1;
        z-index: 998;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .navbar.active {
        position: fixed;
        top: 0;
        right: 0px;
        width: 100%;
        height: 100vh;
        background: #138353;
        opacity: 1;
        z-index: 998;
        display: flex;

    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo img{
        width: 100%;
        scale: 2;
    }

    .dropdown{
        position: relative;
    }

    .dropdown-content{
        opacity: 0;
        position: absolute;
        top: -70px;
        left: 70px;
    }
}