@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&family=Zhi+Mang+Xing&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    /* background: linear-gradient( #000000,#09623b); */
    background: #232D3F;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #000000;
}

::-webkit-scrollbar-track {
    box-shadow: transparent;
}

/* LINE */

.Line{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    overflow: hidden;
}

/* --------------- */

.svg_div svg{
    width: 200px;
    position: fixed;
    bottom: 0px;
    right: 0;
    rotate: 45deg;
    z-index: -2;
}

.navgation{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 200px;
}

.hambur {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000000;
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
    display: none;
}

.hambur svg {
    width: 100%;
    height: 100%;
}

.home {
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    z-index: 999;
}

.home .logo {
    width: 400px;
    height: auto;
}

.home .logo img {
    width: 100%;
}

.home:hover {
    transform: scale(1.1);
}

.navbar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:auto;
    background: rgba(255, 255, 255, 0.5);;
    z-index: 999;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    font-weight: 900;
}
  
.navbar #menu{
    margin: 20px;
}

ul{
    float:right;
    display:flex;
    list-style:none;
}
  
ul li{
    opacity: 0;
    margin:20px;
}
  
a{
    text-decoration:none;
    color:#000000;
}
  
#logo img{
    width: 200%;
}

#logo{
    float:left;
    width: 200px;
}
  
li .dropdown {
    position:relative;
}
  
.dropdown-content {
    visibility: hidden;
    position: absolute;
    transform: translateX(-15%);
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    z-index: -999;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: flex;
    flex-direction:column;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    visibility: visible;
}

.productContainer{
    width: 100%;
    height: auto;
    position: absolute;
    top:100px;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    flex-direction: row;
}

.productContainer .leftProductImg{
    max-width: 700px;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    margin: 20px;
}
  
.productContainer .leftProductImg .button {
    position: absolute;
    top: 50%;
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 20px;
    transform-origin: center;
}

.productContainer .leftProductImg #leftButton {
    transform: translateY(-50%) rotate(225deg); /* 逆时针旋转45度 */
    left: 50px;
    z-index: 99;
}

.productContainer .leftProductImg #rightButton {
    transform: translateY(-50%) rotate(45deg); /* 顺时针旋转45度 */
    right: 50px;
    z-index: 99;
}
  
.productContainer .leftProductImg .button:focus {
    outline: none;
}

.productContainer .leftProductImg img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

#dotsContainer {
    width: auto;
    height: auto;
    text-align: center;
}
  
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
}
  
.active-dot {
    background-color: #3498db;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.dot.fade-out {
    animation: fadeOut cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out; /* 2秒的动画，你可以调整时间 */
}

.productContainer .rightProductText{
    width: 50%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: #FFF;
    justify-content: center;
}

.productContainer .rightProductText #rightTopImgtext .imgContent1{
    margin: 50px 0pc 50px 0px;
    height: auto;
    font-size: 2em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.productContainer .rightProductText #rightTopImgtext .imgContent2{
    margin-top: 10px;
    height: auto;
    font-size: 2em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.productContainer .rightProductText h1{
    height: auto;
    font-size: 3em;
    margin-bottom: 20px;
}

.productContainer .rightProductText .goodList{
    position: relative;
    margin-top: 50px;
}

.productContainer .rightProductText span{
    margin-bottom: 20px;
    border-radius: 10px 0px 0px 10px;
    background: #008170;
    color: #ffffff;
    font-weight: 800;
    font-size: 2em;
}



.productContainer .rightProductText .goodList .list{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productContainer .rightProductText .goodList .list .list_dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3498db;
}

.productContainer .rightProductText .goodList .list p{
    font-size: 2em;
    margin: 20px 0px 20px 20px;
}

.productContainer .rightProductText p{
    font-size: 2em;
    font-weight: 900;
    margin: 100px 0px 0px 0px;
}


#productImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (min-width:0px) and (max-width:1200px) {
    .home {
        top: 10px;
        left: -50px;
        scale: 0.7;
    }

    .hambur {
        position: fixed;
        display: block;
        z-index: 999;
    }
    
    .logo img{
        display: none;
    }

    .navbar {
        position: fixed;
        top: -100vh;
        right: 0px;
        width: 100%;
        height: 100vh;
        background: #138353;
        opacity: 1;
        z-index: 998;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .navbar.active {
        position: fixed;
        top: 0;
        right: 0px;
        width: 100%;
        height: 100vh;
        background: #138353;
        opacity: 1;
        z-index: 998;
        display: flex;

    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo img{
        width: 100%;
        scale: 2;
    }

    .dropdown{
        position: relative;
    }

    .dropdown-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        visibility: hidden;
        position: absolute;
        left: -10%;
        z-index: 999;
    }
}

@media screen and (min-width:200px) and (max-width:857px) {
    .home {
        top: 10px;
        left: -50px;
        scale: 0.7;
    }

    .hambur {
        position: fixed;
        display: block;
        z-index: 999;
    }
    
    .logo img{
        display: none;
    }

    .navbar {
        position: fixed;
        top: -100vh;
        right: 0px;
        width: 100%;
        height: 100vh;
        background: #138353;
        opacity: 1;
        z-index: 998;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .navbar.active {
        position: fixed;
        top: 0;
        right: 0px;
        width: 100%;
        height: 100vh;
        background: #138353;
        opacity: 1;
        z-index: 998;
        display: flex;

    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo img{
        width: 100%;
        scale: 2;
    }

    .dropdown{
        position: relative;
    }

    .dropdown-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        visibility: hidden;
        position: absolute;
        left: -10%;
        z-index: 999;
    }

    .productContainer{
        flex-direction: column;
    }

    .productContainer .rightProductText{
        width: 100%;
        margin: 0px;
    }

    .productContainer .rightProductText .goodList{
        height: auto;
    }

    .productContainer .rightProductText .goodList .list::before{
        top: 30px;
    }
}

@media screen and (min-width:0px) and (max-width:856px){
    .productContainer .leftProductImg{
        width: 90%;;
        height: auto;
    }
    
    .productContainer .rightProductText{
        margin: 0;
    }

    .productContainer .rightProductText .goodList p:nth-child(1)::before{
        top: 30px;
    }

    .productContainer .rightProductText .goodList p:nth-child(2)::before{
        top: 85px;
    }
    .productContainer .rightProductText .goodList p:nth-child(3)::before{
        top: 135px;
    }
}

@media screen and (min-width:360px) and (max-width:430px){
    .productContainer .rightProductText{
        margin-left: 0px;
    }

    .productContainer .rightProductText h1{
        height: 60px;
        font-size: 2em;
    }

    .productContainer .rightProductText span{
        height: 70px;
        font-size: 1.2em;
        text-align: center;
    }

    .productContainer .rightProductText .goodList{
        height: auto;
    }

    .productContainer .rightProductText .goodList .list{
        font-size: 0.8em;
    }

    .productContainer .rightProductText .goodList .list p{
        font-size: 1.5em;
    }

    .productContainer .rightProductText p{
        margin-top:20px;
        font-size:1.5em;
    }

    
}