*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
}

body{
    background: #113946;
}

.toTop {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 99;
    overflow: hidden;
    align-items: center;
}

.toTop svg {
    width: 100px;
    padding: 20px;
    rotate: 90deg;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.toTop h2 {
    color: #ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

html {
    scroll-behavior: smooth;
  }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
  }

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #1D8257;
}

::-webkit-scrollbar-track {
    box-shadow: transparent;
}

header{
    width: 100%;
    height: 100vh;
}

.bg{
    width: 100%;
    height: 100vh;
    background: url(WASABESKING.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0px;
    animation: filter 2s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1).5s;
}

@keyframes filter{
    0%{
        filter: blur(5px);
    }
    100%{
        filter: blur(0px);
    }
}

.hambur{
    width: 50px;
    height: 50px;
    position: absolute;
    top:10px;
    right: 10px;
    background: #000000;
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
    display: none;
}

.hambur svg{
    width: 100%;
    height: 100%;
}

.home{
    position: absolute;
    top:30px;
    left:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.home .logo{
    width: 100px;
    height: 100px;
}

.home .logo img{
    width: 100%;
}

.home:hover{
    transform: scale(1.1);
}

.left_title{
    position: absolute;
    top:50%;
    left: 30%;
    transform: translate(-50%,-20%);
    display: flex;
    flex-direction: column;
    color: #fff;
    letter-spacing: 2px;
    animation: 1s out;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.left_title h4{
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes out{
    0%{
        left: 20%;
    }
    100%{
        left: 30%;
    }
}

.left_title h1{
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left_title h6{
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    background: #113946;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: test cubic-bezier(0.075, 0.82, 0.165, 1) 4s;
}

@keyframes test {
    0%{
        width: 0%;
        background: transparent;
    }
    100%{
        width: 100%;
        background: #113946;
    }
}

.navbar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:auto;
    background: rgba(255, 255, 255, 0.5);;
    z-index: 999;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    font-weight: 900;
}
  
.navbar #menu{
    margin: 20px;
}

ul{
    float:right;
    display:flex;
    list-style:none;
}
  
ul li{
    opacity: 0;
    margin:20px;
}
  
a{
    text-decoration:none;
    color:#000000;
}
  
#logo img{
    width: 200%;
}

#logo{
    float:left;
    width: 200px;
}
  
li .dropdown {
    position:relative;
}
  
.dropdown-content {
    opacity:0;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: flex;
    flex-direction:column;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    opacity:1;
}

/* 設定所有section樣式 */
section{
    width: 100%;
    height: auto;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

/* 關於葵地淇 */

.container_see{
    width: 100%;
    height: auto;
    position: relative;
}

.container_see .left_section_title{
    width: 65px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    position: absolute;
    top:0px;
    left: 10px;
    background: #ffffff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1em;
    z-index: 2;
    border-radius: 0px 0px 20px 20px;
}

.container_see .left_section_title #see{
    animation: slideInLeft 1s ease-out forwards;
}

@keyframes slideInLeft{
    0%{
        left: -500px;
    }
    100%{
        left: 100px;
    }
}

.container_see .left_section_title .top_word{
    margin-top: 60px;
}

.container_see .left_section_title .top_word::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13.9px 8px 0 8px;
    border-color: #000000 transparent transparent transparent;
    border-radius: 2px;
}

.container_see .left_section_title .top_word,
.container_see .left_section_title .bottom_word{
    writing-mode: vertical-lr;
}

.container_see .Preface{
    max-width: 77.77%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px;
}

.container_see .Preface::before{
    content: '';
    position: absolute;
    bottom:0px;
    right: 0px;
    width: 0;
    height: 0;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px 0px 100px 100px;
    border-color: transparent transparent #0F0F0F transparent;
    z-index: 1;
}

.container_see .Preface p{
    width: 60%;
    margin-top: 60px;
    font-size: 1em;
    line-height: 2;
    letter-spacing: 1.5px;
    z-index: 2;
}

.container_see .Preface img{
    padding: 20px;
    width: 40%;
}

.container_see #container_p{
    color: #ffffff;
}

.container_see .wasabi_brief_intro{
    max-width: 77.77%;
    min-height: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    margin-top: 60px;
}

.container_see .wasabi_brief_intro .wasabi_text{
    color: #FFFFFF;
}

.container_see .wasabi_brief_intro .wasabi_text .grow_img{
    /* width: 66.66%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container_see .wasabi_brief_intro .wasabi_text .grow_img img{
    width: 10%;
}

.container_see .wasabi_brief_intro .wasabi_text .shape_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container_see .wasabi_brief_intro .wasabi_text .shape_img img{
    width: 10%;
}

.container_see .wasabi_brief_intro .real_img{
    width: 100%;
    display: flex;
    max-height: 460px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container_see .wasabi_brief_intro .real_img .divImg{
    max-width: 30%;
    height: auto;
    margin: 10px;
}

.container_see .wasabi_brief_intro .real_img img{
    width: 100%;
    margin: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.container_see .wasabi_brief_intro .wasabi_img img{
    max-width: 100%;
    left: 40px;
}

.container_see .wasabi_brief_intro .wasabi_text{
    width: auto;
    height: auto;
    position: absolute;
    top:150px;
}

.container_see .wasabi_brief_intro .wasabi_text h1{
    font-size: 3em;
    font-weight: 900;
    margin: 0px 0px 0px 20px;
    text-align: center;
    color: #FFF2D8;
}

.container_see .wasabi_brief_intro .wasabi_text p{
    font-size: 1em;
    font-weight: 500;
    margin: 20px;
    line-height: 2;
    letter-spacing: 1.5px;
    color: #FFF2D8;
}

.container_see .function_explanation{
    width: auto;
    height: auto;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.container_see .function_explanation .title_function{
    width: auto;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    color: #FFFFFF;
}

.container_see .function_explanation .human_img{
    width: 250px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.container_see .function_explanation .human_img img{
    width: 250px;
    transition: 0.5s ease;
}

.container_see .function_explanation .human_img #img1{
    width: 177px;
}

.container_see .function_explanation .human_img #img4{
    width: 132px;
}
   
.function_explanation .humaninfo{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    justify-content: space-around;
}

.function_explanation .human{
    max-width: 1200px; 
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.function_explanation .human .ageInfo{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.function_explanation .human .ageInfo .cricle_img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BCA37F;
    border-radius: 50%;
    margin: 0px 20px 0px 20px;
}

.function_explanation .human .ageInfo .content{
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.function_explanation .human .ageInfo .content .top_text{
    font-size: 3em;
    font-weight: 900;
}

.function_explanation .human .ageInfo .content .cut_line{
    width: 100px;
    height: 2px;
    background: #000000;
}

.function_explanation .human .ageInfo .content .bottom_text{
    font-size: 1.5em;
}

.function_explanation .human.human_Age_info .line{
    width:240px;
    height: 5px;
    border-radius: 2px;
    background: #FDF0F0;
}

.function_explanation .humaninfo .human_Age_info{
    position: relative;
    top: 0px;
    left: -50px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.function_explanation .humaninfo .human_Sugar_info{
    position: relative;
    top: 0px;
    left: 15px;
}

.function_explanation .human.human_Sugar_info .line{
    width: 0px;
    height: 5px;
    border-radius: 2px;
    background: #F1B4BB;
}

.function_explanation .humaninfo .human_Se_info{
    position: relative;
    top: 0px;
    left: -25px;
}

.function_explanation .human.human_Se_info .line{
    width: 240px;
    height: 5px;
    border-radius: 2px;
    background: #1F4172;
}

.function_explanation .humaninfo .human_C_info{
    position: relative;
    top: 0px;
    left: -60px;
}

.function_explanation .human.human_C_info .line{
    width:190px;
    height: 5px;
    border-radius: 2px;
    background: #132043;
}

section .card_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

section .card_container .card_container_info{
    max-width: 320px;
    min-height: 600px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

section .card_container .card_container_info.Img1{
    background: url(食_植物.jpg);
    background-size: cover;
}

section .card_container .card_container_info.Img2{
    background: url(用_異.jpg);
    background-size: cover;
}

section .card_container .card_container_info.Img3{
    background: url(健_微笑.jpg);
    background-repeat: no-repeat;
    background-position: 0px;
}

section .card_container .card_container_info .card_info_title{
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .card_container .card_container_info .card_info_title img:nth-child(2){
    position: absolute;
    top: 24px;
    left: 5px;
}

section .card_container .card_container_info .card_info_subtitle{
    width: auto;
    height: auto;
}

section .card_container .card_container_info .card_info_subtitle p{
    width: auto;
    height: auto;
    color: #ffffff;
    text-align: center;
    filter: blur(0px);
    margin: 20px;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    font-size: 20px;
    line-height: 2;
}

section .card_container .card_container_info .card_info_subtitle p span{
    color: #BCA37F;
    font-weight: 900;
}

section .card_container .card_container_info:hover p{
    opacity: 1;
    z-index: 999;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.63);
    background: blur(20px);
    padding: 20px;
    border-radius: 10px;
}

.listen_share{
    font-size: 3em;
    position: relative;
    text-align: center;
    margin-top: 100px;
    color: #FFFFFF;
}

.listen_share{
    font-size: 3em;
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.listen_share p{
    font-size: 0.8em;
    position: relative;
    text-align: center;
    margin: 50px;
    letter-spacing: 1.5px;
    line-height: 2;
}

.listen_share p span{
    font-size: 1.5em;
    color: #BCA37F;
    font-weight: 900;
}


.listen_info{
    max-width: 95%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ffffff;
}

.listen_info:hover{
    width: 100%;
}

.listen_info .listen_info_box{
    width: 350px;
    height: 340px;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    transition: .5s ease-in-out;
}

.listen_info .listen_info_box img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    transition: .5s ease-in-out;
}

.listen_info .listen_info_box:hover{
    width: 600px;
}

.listen_info .listen_info_box .box1{
    width: 200px;
    height: auto;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.listen_info .listen_info_box .box1 p:nth-child(1){
    margin: 20px;
    width: 200px;
    height: auto;
    transition: .5s ease-in-out;
    font-size: 1.5em;
    font-weight: 500;
    color: #ffffff;
}

.listen_info .listen_info_box .box1 a{
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

.listen_info .listen_info_box:hover{
    scale: 1.1;
    z-index: 999;
}

.more_information{
    height: 600px;
    background: #008170;
    margin: 20px;
    position: relative;
    box-shadow: 13px 16px 10px 0px rgba(0, 0, 0, 0.53);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.more_information .info_message {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.more_information .info_message ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.more_information .info_message ul li {
    width: 40px;
}

.more_information .info_message ul li img{
    width: 100%;
}
.more_information .info_contact .top_en_title{
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.more_information .info_contact .top_en_title .dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FF1515;
    margin-left: 10px;
}

.more_information .info_contact .top_ch_title{
    font-size: 4em;
}

.more_information .info_contact .medium1,
.more_information .info_contact .medium2,
.more_information .info_contact .bottom_text{
    font-size: 1.5em;
}

.more_information .info_contact .top_en_title,
.more_information .info_contact .top_ch_title,
.more_information .info_contact .medium1,
.more_information .info_contact .medium2,
.more_information .info_contact .bottom_text{
    margin: 10px;
    letter-spacing: 2px;
}

.more_information .info_contact.left,
.more_information .info_contact.right{
    width: auto;
    height: auto;
    color: #ffffff;
}

.more_information .info_contact .top_en_title .dot.right{
    background: #6100FF;
}

.more_information .info_contact .medium1.right span:nth-child(2){
    width: 84px;
    height: 26px;
    border-radius: 10px;
    text-align: center;
    background: #6100FF;
}

.more_information .info_contact .medium2.right span:nth-child(2){
    width: 84px;
    height: 26px;
    border-radius: 10px;
    text-align: center;
    background: #6100FF;
}

.more_information .cut_line{
    width: 6px;
    height: 270px;
    background: #ffffff;
    border-radius: 20px;
}

.more_information .bottom_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-content: center;
    margin-top: 40px;
}

.Copyright span{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:360px) and (max-width:430px) {

}

@media screen and (min-width:200px) and (max-width:1021px) {
    .home {
        top: -12px;
        left: -10px;
        scale: .6;
    }

    .hambur {
        position: fixed;
        display: block;
        z-index: 999;
    }

    .navbar {
        position: fixed;
        top: -100vh;
        right: 0px;
        width: 100%;
        height: 100vh;
        background: #138353;
        opacity: 1;
        z-index: 998;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .navbar.active {
        position: fixed;
        top: 0;
        right: 0px;
        width: 100%;
        height: 100vh;
        background: #138353;
        opacity: 1;
        z-index: 998;
        display: flex;

    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #logo img{
        width: 100%;
        scale: 2;
    }

    .dropdown{
        position: relative;
    }

    .dropdown-content{
        opacity: 0;
        position: absolute;
        top: -70px;
        left: 70px;
    }

    .left_title {
        left: 50%;
    }

    @keyframes out {
        0% {
            left: 30%;
        }

        100% {
            left: 50%;
        }
    }

    .left_title h1 {
        font-size: 3em;
    }

    .left_title h4,
    .left_title h6 {
        font-size: 1.5em;
    }

    .container_see p {
        left: 70%;
    }

    .container_see .left_section_title {
        top: 0px;
        height: 500px;
    }

    @keyframes slideInLeft {
        0% {
            left: -500px;
        }

        100% {
            left: 10px;
        }
    }

    .container_see .Preface{
        flex-direction: column;
    }

    .container_see .Preface img{
        width: 100%;
    }

    .container_see .Preface p{
        width: 100%;
    }

    .container_see .wasabi_brief_intro .wasabi_text .grow_img img{
        width: 30%;
    }

    .container_see .function_explanation .human_img {
        width: 110px;
        height: 276px;
    }

    .container_see .function_explanation {
        top: 0px;
    }

    .function_explanation .humaninfo {
        font-size: 0.6em;
    }

    .function_explanation .human {
        max-width: 500px;
    }

    .function_explanation .human .ageInfo .cricle_img{
        margin: 0px;
    }

    .function_explanation .human .ageInfo .content{
        margin-left: 20px;
    }

    .function_explanation .humaninfo .human_Age_info,
    .function_explanation .humaninfo .human_Sugar_info,
    .function_explanation .humaninfo .human_Se_info,
    .function_explanation .humaninfo .human_C_info {
        position: relative;
        top: 0;
        left: 0;
        margin: 0px;
    }

    .function_explanation .humaninfo .human_Age_info .line,
    .function_explanation .humaninfo .human_Sugar_info .line,
    .function_explanation .humaninfo .human_Se_info .line,
    .function_explanation .humaninfo .human_C_info .line {
        width: 0;
    }

    .container_see .function_explanation .human_img img{
        width: 120px;
    }
    
    .container_see .function_explanation .human_img #img1{
        width: 90px;
    }
    
    .container_see .function_explanation .human_img #img4{
        width: 65px;
    }

    section .card_container .card_container_info {
        min-height: 200px;
    }

    .listen_share{
        font-size: 2em;
        position: relative;
    }

    .listen_info {
        height: auto;
    }

    .container_environment .img_enviroment_box .img_title {
        top: 10%;
        font-size: 2em;
    }

    .more_information .top_time {
        font-size: 0.6em;
    }

    .more_information .info_contact .top_en_title {
        font-size: 1em;
    }

    .more_information .info_contact .top_en_title .dot {
        width: 10px;
        height: 10px;
    }

    .more_information .info_contact .top_ch_title {
        font-size: 2em;
    }

    .more_information .info_contact .medium1,
    .more_information .info_contact .medium2,
    .more_information .info_contact .bottom_text {
        font-size: 1em;
    }

    .more_information .bottom_info {
        flex-direction: column;
    }

    .more_information .cut_line {
        height: 0px;
    }
}

@media screen and (min-width:360px) and (max-width:430px){
    .bg{
        background-size: cover;
        background-position: -490px;
    }

    .more_information{
        left: 0%;
        transform: translateX(0%);
    }

    .Copyright span{
        text-align: center;
    }
    /* 功效 */
    .function_explanation .humaninfo{
        align-content: center;
    }

    .container_see .function_explanation{
        top:70px;
    }

    .listen_info .listen_info_box{
        height: 670px;
        justify-content: center
    }

    section .card_container .card_container_info .card_info_subtitle p{
        font-size: 0.5em;
    }

    .container_see .wasabi_brief_intro .wasabi_text h1{
        font-size: 2em;
    }
}